ConsumeWcfCrud/Connected Services/WcfCrudRef/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wcf_Crud" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wcf_Crud" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmpDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeptId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeptName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salary" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpDetails" nillable="true" type="tns:EmpDetails" />
</xs:schema>