ConsumeWcfCrud/Connected Services/WcfCrudRef/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49861/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49861/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49861/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wcf_Crud" />
      <xsd:import schemaLocation="http://localhost:49861/Service1.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_InsertEmpDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmpDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertEmpDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmpDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmpDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmpDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FetchUpdatedRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchUpdatedRecords" />
  </wsdl:message>
  <wsdl:message name="IService1_FetchUpdatedRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchUpdatedRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateEmpDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmpDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateEmpDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmpDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteEmpDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmpDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteEmpDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmpDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="InsertEmpDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertEmpDetails" message="tns:IService1_InsertEmpDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertEmpDetailsResponse" message="tns:IService1_InsertEmpDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEmpDetails" message="tns:IService1_GetEmpDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEmpDetailsResponse" message="tns:IService1_GetEmpDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchUpdatedRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FetchUpdatedRecords" message="tns:IService1_FetchUpdatedRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FetchUpdatedRecordsResponse" message="tns:IService1_FetchUpdatedRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmpDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateEmpDetails" message="tns:IService1_UpdateEmpDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateEmpDetailsResponse" message="tns:IService1_UpdateEmpDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmpDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteEmpDetails" message="tns:IService1_DeleteEmpDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteEmpDetailsResponse" message="tns:IService1_DeleteEmpDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertEmpDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertEmpDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEmpDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchUpdatedRecords">
      <soap:operation soapAction="http://tempuri.org/IService1/FetchUpdatedRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmpDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateEmpDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmpDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteEmpDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:49861/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>